<h1>All Users</h1>

<table>
<% @users.each do |user| %>
  <tr>
    <td>
      <%= link_to user.name, user_path(user.id) %>
    </td>
    <td>
      <%= user.email %>
    </td>
  </tr>
<% end %>
</table>
