<section>
  <h2>What is PROOF?</h2>
  <p>
    Manage requirements for members in your team or organization with PROOF. We do this using <a href="https://tincanapi.com/learning-record-store/" target="_blank">Learning Record Store (LRS)</a>; the heart of the Tin Can ecosystem.
  </p>
</section>
