.Header {
  background-color: #03a9f4;
  border-bottom: 1px solid rgba(white, 0.6);
  color: white;
  line-height: 2rem;
  padding: 1rem;

  @include media($medium-screen-up) {
    @include clearfix;
  }
}

.Header-title {
  color: #aaaaaa;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;

  a {
    color: white;
    display: inline-block;
    vertical-align: middle;
  }

  @include media($medium-screen-up) {
    float: left;
  }
}

.Header-navigation {
  @include media($medium-screen-up) {
    float: right;
  }
}
