.Hero {
  background-color: #03a9f4;
  color: white;
  text-align: center;

  h1 {
    font-size: 4rem;
    font-weight: 100;
  }

  .inner {
    padding: 5rem 1rem;

    @include media($medium-screen-up) {
      @include outer-container;
    }
  }
}
