.Navigation-link {
  border-radius: 0.25rem;
  color: darken(white, 8%);
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0 0.3rem;

  &:active,
  &:focus,
  &:hover {
    color: white;
  }
}

.Navigation-link.is-active {
  background-color: white;
  color: $blue;
}
