.Navigation-link {
  border-radius: 0.25rem;
  color: darken(white, 8%);
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0 0.3rem;
  vertical-align: middle;

  &:active,
  &:focus,
  &:hover {
    color: white;
  }
}

.Navigation-link.is-active {
  background-color: white;
  color: $blue;
}

.Navigation-button {
  @extend button;
  background-color: shade($action-color, 20%);

  &:hover,
  &:focus {
    background-color: shade($action-color, 30%);
  }
}

